@charset "utf-8";

/* header */
.header {
    position: fixed;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.6rem;

    .logo {
        width: 2rem;
        height: 2rem;

        img {
            width: 100%;
        }
    }
}


/* footer */
.footer {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 6rem;
    text-align: center; 
    bottom: 0;
    left: 0;
    padding: 0 1.6rem 0.8rem;
    border-top: 1px solid var(--border-color);

    .footer-list {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 1rem;

        li {
            width: 20%;

            .btn {
                display: block;
                color: var(--gray-300);
                position:relative;
                padding-top: 2.5rem;
                width: 100%;

                &::before {
                    position: absolute;
                    content: '';
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                    width: 2rem;
                    height: 2rem;
                    background-image: url('../images/icon-footer.png');
                    background-size: auto 4rem;
                    background-position-x: 0;
                    background-position-y: 0;
                }

                &.active {
                    color: var(--primary-color);

                    &::before {
                        background-position-y: 2rem;
                    }
                }
            }

            //아이콘 포지션
            @for $i from 0 to 5 {
                &.btn-box#{$i} .btn::before {
                    background-position-x: $i * -2rem;
                }
            }
        }
    }
}

.contents-wrap {
    padding: 5rem 1.6rem 6rem;
    height: calc(100vh - 11rem);
}